{
  "sourceMaps": true,
  "comments": false,
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "safari >= 10"
          ]
        },
        "include": [
          "transform-es2015-destructuring",
          "transform-regenerator"
        ],
        "useBuiltIns": true
      }
    ],
    "stage-1"
  ],
  "plugins": [
    "transform-runtime"
  ]
}
